body {
    padding-top: 54px;
}

#logo {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}

img:hover {
    opacity: 1;
}

.card {
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px #dfdfeb;
    border-radius: .5rem;
}

.card:hover {
    box-shadow: 0px 0px 8px 4px #dedefc;
}

.card-body {
    overflow: hidden;
}

.card a {
    color: #9b00bd !important;
}

.card a:hover {
    color: #511061 !important;
}

.card-text {
    padding-bottom: 25px;
}

.card-footer-text {
    position: absolute;
    bottom: 1px;
    font-size: 0.95em;
    font-family: 'VT323', monospace;
    color: #6A6A6A
}

.card-title {
    font-size: 1.1rem;
}

.card a img {
    /* height: 230px; */
}

/* Utility for normalizing portfolio thumbnail heights */
.portfolio-thumb-cover {
    height: 230px;
    object-fit: cover;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
    /* only apply the animation to computers, 
  since it doesn't work well with touch screens */
    img {
        opacity: .85;
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
    }
    .card {
        /* box-shadow: 0px 0px 10px 1px #dcdcfa; */
        transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        -webkit-transition: box-shadow .5s ease-out;
        -o-transition: box-shadow .5s ease-out;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}