body {
    background: linear-gradient(39deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #222;
    min-height: 100vh;
}

footer {
    border-top: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a, a:hover {
    color: #9b00bd;
    text-decoration: none;
}

a:hover {
    color: #511061;
}

.navbar {
    background: rgb(16, 7, 54);
    background: linear-gradient(208deg, rgba(16, 7, 54, 1) 0%, rgba(39, 29, 50, 1) 59%, rgba(81, 16, 97, 1) 80%, rgba(155, 0, 189, 1) 100%);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.navbar a {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff;
    }
    to {
        text-shadow: 0 0 2px #fff;
    }
}

a:hover {
    /* color: #ccc; */
}

.info p {
    display: inline-block;
}

.info span {
    color: #ccc;
}

.no-padding {
    padding: 0;
}

.title-container {
    margin: 0px 0 20px 0;
    padding: 0;
}

.name-title-container {
    margin-left: -5px;
    display: flex;
    flex-direction: 'row';
    /* height: 30px; */
}

.name-title-line {
    font-size: 63px;
    line-height: 52px;
    color: #444;
}

.separator {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.title {
    line-height: 0.75;
    margin-bottom: 18px;
}

.subtitle {
    color: #555;
    font-size: 79%;
    font-family: 'Alegreya', serif;
    font-weight: 700;
}

.navbar-wrapper {
    margin-bottom: 38px;
}

.fixed {
    position: fixed;
}

.spacer {
    height: 70px;
}

.img-bordered {
    border: 1px solid #999;
}

.img-fluid {
    margin-bottom: 20px !important;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px !important;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        -ms-flex: 0 0 37.666667%;
        flex: 0 0 37.666667%;
        max-width: 37.666667%;
    }
}

.typewriter p {
    position: absolute;
    bottom: 8px;
    text-align: left;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end 5;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

@media (max-width: 768px) {
    .navbar-wrapper {
        margin-bottom: 20px;
    }
}