body {
  padding-top: 54px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-text-column img{
    padding-top: 13px;
}

ol p{
    margin-top: 10px;
}

.project-text-column{
    padding-left: 10px;
}

.footer{
    width: 100%;
    background: white;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.footer:hover{
    background-color: #FAFAFA;
    transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
}

.label{
    font-size: 0.9em;
}

i{
    margin-right: 5px;
}

.sticky-left-col{
    top: 80px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 767px) {
    .row{
        margin-top: -15px;
    }
}


