@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --accent: #4b1fe6;
  --accent-dark: #2a0f8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.navbar-wrapper a {
  text-decoration: none;
}

.nav-link-glow {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff;
  }
  to {
    text-shadow: 0 0 2px #fff;
  }
}
